* {
  box-sizing: border-box;
}

body {
  width: 70vw;
  background-color: #1f2937;
}

.header {
  color: #f9faf8;
}

.logo {
  max-width: 200px;
}

.container-one img {
  width: 300px;
}

.container-two img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}